@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive, sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0%;
}
body{
    height: 100vh;
}
header{
    font-size: 24px;
    font-family: var(--fonte2);
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 15px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 15px;
}
a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
main{
    font-family: var(--fonte3);
    font-size: 1.8em;
}
main p{

    padding-bottom: 2em;
}
section{
    line-height: 2em;
    padding: 10vh;

}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 3px -4.5px 20px 2.5px black;
    padding-left: 7vh;
    background-color: rgb(87, 87, 87);
    color: white;
}
#img01{
    background-image: url(imagens/background001.jpg);
}
#img02{
    background-image: url(imagens/background002.jpg);
}
.imagem > P{
    text-shadow: -4px 9px 20px black;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 0.322);
}
footer{
    font-family: var(--fonte2);
    width: 100%;
    background-color: black;;
}
footer h3{
    margin: 0px;
    text-align: center;
    color: white;
}   